.box {
  margin: 10px auto;
  width: 75%;
}

.content-active {
  background-color: blue;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.tabs-content-container {
  display: flex;
  justify-content: center;
}

i {
  margin-left: 20px;
}

.tab-content li {
  padding: 5px 0;
  margin: 5px 0;
  font-size: 1.2rem;
}
